
.bubble-1 {
    border-radius: 50%;
    border: 2px solid blue;
    position: fixed;
    animation: reverse-rain 19s ease-in-out infinite;
  }
  .bubble-2 {
    border:10px dashed red;
    left: 100px;
    border-radius: 50%;
    position: fixed;
    animation: reverse-rain 17s ease-in infinite alternate;
  }
  .bubble-3 {
    background-color: green;
    left: 300px;
    position: fixed;
    animation: reverse-rain 20s ease-in infinite;
  }
  .bubble-4 {
    background-color: yellow;
    left: 150px;
    border-radius: 50%;
    position: fixed;
    animation: reverse-rain 19s linear infinite alternate;
  }
  .bubble-5 {
    border:5px double green;
    left: 75px;
    position: fixed;
    animation: reverse-rain 18s ease-out infinite alternate;
  }
  .bubble-6  {
    background-color: aquamarine;
    left: 200px;
    height: 200px;
    width: 100px;
    position: fixed;
    animation: reverse-rain 15s ease-in-out infinite alternate;
  }
  .element {
    border-style: solid;
    left:230px;
    border-width: 0 50px 100px 50px;
    border-color: transparent transparent #7048e8 transparent;
    animation: reverse-rain 20s ease-in-out infinite alternate;
    position: fixed;
  }
  .element::after {
    right:430px;
    border-style: solid;
    border-width: 0 50px 100px 50px;
    border-color: transparent transparent #441bbf transparent;
    animation: reverse-rain 20s ease-in-out infinite alternate;
    position: fixed;
  }
  @keyframes reverse-rain {
    from {
      bottom: -100px;
      transform: rotate(0deg);
    }
    to {
      bottom: 100vh;
      transform: rotate(360deg);  
    }
  }
  /*COMPONENTS*/
  /*100px object dimensions*/
  .__100dim
  {
      height: 100px;
      width: 100px;
  }
  .__200dim
  {
      height: 200px;
      width: 200px;
  }
  .__150dim
  {
      height: 150px;
      width: 150px;
  }
  .__75dim
  {
      height: 75px;
      width: 75px;
  }
  .__opacity
  {
      opacity: .1;
  }
  .__zindex
  {
    z-index: -9;
  }