@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Quando&display=swap');
@import url('./card.css');
*, h3
{
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.--card
{
    height: 450px;
    margin-bottom:50px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    padding:20px;
    border-radius: 15px;
    margin:5px; 
    transition: transform 1s;
}
/**/
.--card:hover
{
    transform: scale(1.05);
}
.--card a{
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    font-size: 1em;
    color: white;
}
.--card .btn
{
    background-color: rgb(50, 50, 255);
}
.--card div
{
    margin:30px 0px;
}
.--card p
{
    padding: 0px 10px;
    border-left:2px solid rgb(38,79,122) ;
}

.--card img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.employer
{
    max-width: 250px;
    max-height: auto;
}
@media only screen and (max-width: 600px)
{
    .--card
    {
        min-width: 300px;
        margin:20px 10%;
    }
}

/*CATALOGS*/
.container .catalog
{
    height: 200px;
    width:0;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    background-color: #AFD3E2;
    color: #146C94;
}
.container .catalog:hover
{
    animation: slideAnimation 1s forwards;
    cursor:pointer;
}


.description
{
    height:10%;
    width: inherit;
    background-color:#146C94;
    position: absolute;
    z-index: 2;
}

@keyframes slideAnimation {
    from {
        width:0;
    }
    to {
        width: 50%;
    }
}
