@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Quando&display=swap');
@import url('./card.css');
*, ul, li
{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
body
{
    background-color: #F6F1E9;
}
.header
{
    background-color: #F6F1E9;
    position: sticky;
    top: 0;
    z-index: 999;
}
.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.scrolled-shadow {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.passion
{
    background: url('/images/name.png') no-repeat;
    background-size: contain;  
    height: 150px;
    width: 350px;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.summary
{
    transform: translate(-100vw);
    opacity:0;
    transition: all .8s ease-in .5s;
}
/*FOR ANIMATION ONLY*/
.passion-animate
{
    opacity: 1;
}
.p-animate
{
    transform: translate(0px);
    opacity: 1;
}
/*ANIMATION-END*/
/*Normal view*/
@media only screen and (min-width: 600px) {
    .content-profile
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 15px;
    }
    .profile
    {
        background-image: url('/images/profile.png');
        background-size:contain;
        background-repeat: no-repeat;
        min-height: 200px;
        min-width: 200px;
        border-radius: 50%;
    }
    .work-with
    {
        max-width: 300px;
    }
    .header
    {
        display: flex;
        justify-items: center;
        width: 100%;
        justify-content: space-around;
        padding:20px 0px;
        align-items: center;
    }
    .my_name div img
    {
        width: auto;
        height: 50px;
    }
    .experience ul
    {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;

    }
    .content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content p
    {
        margin: 50px 0px;
        max-width: 1000px;
        text-align: center;
        font-size: 1.2rem;
        color: #4F200D;
    }
    .nav
    {
        width: 400px;
    }
    .nav ul li
    {
        padding:10px;
        transition: all .3s;
        flex:1;
        text-align: center;
    }
    @keyframes slideAnimation {
        from
        {
            width: 0px;
        }
        to
        {
            width: 100%;
        }
    }
    /*
    .line
    {
        width: 100%;
        height: 3px;
        background-color: black;
        visibility: hidden;
        margin-top: 5px;
    }
    .nav ul li:hover
    {
        text-decoration: none;
        padding:0.5rem 0.75rem;
        font-size:20px;
        color:  blue;
        transition: color 0.25s;
    }
    */
    /*NAVIGATION FROM OUTSIDE SOURCE*/
    .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        font: bold 1rem;
        color: grey;
      }
      .nav  ul li {
        padding: 0 .5em .25em;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: .3s;
      }
      .nav  ul li:hover {
        color: #000000;
      }
      .nav ul li:before {
        content: "";
        position: absolute;
        inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
        background: #F4CE14; /* the color */
        scale: 0 1;
        transition: .3s, translate 0s .3s;
      }
      .nav ul:hover li:before {
        scale: 1;
      }
      ul li:hover:before {
        translate: 0;
        transition: .3s;
      }
      .nav ul:hover li:has(~ li:hover):before {
        translate: 100% 0;
        transition: .2s .2s,scale 0s .4s;
      }
      .nav ul:hover li:hover ~ li:before {
        translate: -100% 0;
        transition: .2s .2s,scale 0s .4s;
      }
      
    /*
    .nav ul li a:hover + .line
    {
        background-color: black;
        animation-name: slideAnimation;
        animation-duration: .5s;
        visibility: visible;
        transform: scale(1.2);
    }
    .nav ul li:active
    {
        background-color: black;
        color:white;
        border-radius:15px ;
    }
    */
    .foot-box
    {
        border-left: 1px solid white;
        padding-left:15px;
        margin: 15px 0px;
    }
}
/*Small screen view*/
@media only screen and (max-width: 600px) {
    .header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: sticky;
    }  
    .profile
    {
        background: url('/images/profile.png') no-repeat; 
        background-size:contain;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }   
    .content-profile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content p
    {
        margin-top:50px;
        text-align: center;
    }
    div.work-with h2
    {
        font-size:1.5em ;
        margin: 0px;
    }
    .logos
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .pagasa img
    {
        width: 100px;
        height: auto;
    }
    .my_name div img
    {
        width: auto;
        height: 50px;
        margin-block: 15px;
    }
    .content
    {
        padding:30px;
    }
    .nav ul li
    {
        justify-content: center;
        width: 75px;
        padding:10px;
        text-align: center;
    }
    li .nav-design
    {
        width: 100%;
        height: auto;
        padding:5px;
    }
    .footer
    {
        padding: 10px;
    }
    .footer ul
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*COMPONENTS*/
    .hide-wrap
    {
        display: none;
    }
}
a{
    text-decoration: none;
    color:inherit;
}
li
{
    list-style: none;
}
h3,h1
{
    font-family: 'Handlee', cursive;
    font-family: 'Quando', serif;
}
.nav ul
{
    display: flex;
    margin: 0px;
    padding: 0px;
}
/*body content*/

.content-profile h3
{
    margin:0px 30px;
    z-index: 5;
}
/*Experiences*/
h2
{
    text-align: center;
    margin: 50px;
}

#informatics
{
    height: 30px;
    background: url('/images/workwith.png') no-repeat 0px -31px;
    background-size:125px 125px;
}
#sitel
{
    height: 35px;
    background: url('/images/workwith.png') no-repeat 0px -91px;
    background-size:125px 125px;
}
#poea
{
    height: 50px;
    background: url('/images/workwith.png') no-repeat 0px 0px;
    background-size:200px 200px;
}
#tu
{
    height: 30px;
    background: url('/images/workwith.png') no-repeat 0px -63px;
    background-size:125px 125px;
}
/*FOOTER*/
.footer
{
    margin-top: 50px;
    height: auto;
    background-color:rgb(36,35,41); 
    color:white;
    padding:3% 10%;
}
/*COMPONENT*/
